@import "../styles/variables.scss";

.headerNavbar-container {
    display: flex;
    padding: 30px 50px 30px 4.5%;
    align-items: center;
    justify-content: space-between;
    z-index: 100;



    .headerNavbar-logo-p-container {
        display: flex;
        min-width: 140px;
        align-items: center;
        gap: 30px;

        .school-logo-p {
            font-family: $primary-font;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            color: $school-color;

        }
    }

    .ministery-logo {
        object-fit: contain;
        width: 80px;
    }


    .headerNavbar-links-container {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 35px;

        .link-p {
            text-decoration: none;
        }

        .headerNavbar-link {
            cursor: pointer;
            font-family: $primary-font;
            font-weight: 600;
            font-size: 21px;
            //   color: $school-color;
            color: white;
            text-decoration: none;
            position: relative;
            transition: .3s;
            width: fit-content;


            &:after {
                position: absolute;
                transition: .3s;
                content: '';
                width: 0;
                right: 0;
                top: 28px;
                height: 2.5px;
                background: white;
                border-radius: 10px;
            }

            &:hover {
                cursor: pointer;

                &:after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }



    .headerNavbar-right-logo-container {
        display: flex;
        gap: 20px;

        .school-logo {
            object-fit: contain;
            height: 85px;
        }


        .fcl-logo-texts-container {
            display: flex;
            gap: 10px;
            align-items: center;

            .fcl-text {
                font-weight: 500;
                font-size: 17px;

            }

            .fcl-bottom-text {
                // color: #5999cf;
                color: #04bce8;
                margin-top: 1px;
                font-size: 17px;
            }

            .fcl-logo {
                object-fit: contain;
                width: 80px;
            }
        }

    }
}


@media(max-width:1400px) {  
    .headerNavbar-container{
        .headerNavbar-links-container {
          gap: 20px;
        }  
    } 
}


@media(max-width:1300px) {  
    .headerNavbar-container{
        .headerNavbar-links-container {
          display: none;
        }  
    } 
}
