@use "../styles/variables" as vars;


.fcl-map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;

    @media(max-width:1180px) { 
        padding: 50px ;
        padding-top: 30px;
    }

    .fcl-map-content-container {
        display: flex;
        flex-direction: column;
        max-width: 1150px;
        gap: 0px;

        .fcl-img-text-container {
            display: flex;
            gap: 35px 60px;
        }

        .fcl-map-bottom-text-container {
            padding-left: 30px;
        }

        .fcl-map-title {
            font-family: vars.$primary-font;
            color: vars.$blue-color4;
            font-size: 35px;
            word-spacing: 5px;
            font-weight: 600;
            margin-bottom: 20px;
        }


        .fcl-text {
            font-family: vars.$primary-font;
            font-size: 17px;
            color: rgba(0,0,0,0.97);
            font-weight: 500;
            word-spacing: 3px;
            line-height: 23px;
            margin-bottom: 20px;

        }

        .last-text {
            margin-bottom: 0;
        }

        .project-titles-container {
            margin-top: 20px;
        }
        .project-little-title {
            font-family: vars.$primary-font;
            color: #817e7e;
            font-weight: 500;
            font-size: 15px;
            margin-left: 1px;
            margin-bottom: 3px;
          }
      

        .fcl-map-img {
            object-fit: contain;
            max-width: 580px;
        }
    }
}

@media(max-width:1180px) {
    .fcl-map-container {
        .fcl-map-content-container {
            .fcl-img-text-container {
                flex-wrap: wrap-reverse;

          
                .fcl-map-img {
                    max-width: 100%;
                    width: 100%;
                }
              }

             .fcl-map-bottom-text-container {
                padding-left: 0;
                margin-top: 40px;
             } 
        }
    
}
}