@use "../styles/variables" as vars;


.cards-container {
    display: flex;
    justify-content: center;
    padding: 60px 40px;
    padding-bottom: 80px;

    
    @media(max-width:1370px) { 
        padding: 45px 30px;
        padding-bottom: 60px;

    }

    .cards-content-container {
        max-width: 1150px;
    }

    .cards-title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    .cards-p {
        color: rgba(0, 0, 0, 0.8);
        font-family: vars.$primary-font;
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 45px;
        font-weight: 500;
        max-width: 900px;
        word-spacing: 0.8px;
        @media only screen and (max-width: 550px) {
           text-align: left;
           font-size: 19px;
           margin: 15px 0;
           margin-bottom: 25px;
        }

    }

    .cards-title {
        color: vars.$blue-color4;
        font-family: vars.$primary-font;
        font-size: 45px;
        line-height: 52px;
        text-align: center;
        font-weight: 700;
      
    }

    .cards-data-container {
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 60px;
        flex-wrap: wrap; 
        position: relative;
        z-index: 10;
    }
}

.place-wrapper {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    // width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .place-content-container {
        padding: 30px 20px;
    }

    .place-img-container {
        padding: 30px 0 ;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: vars.$lightGrey-color;
    }
    .place-img {
        object-fit: contain;
        max-width: 100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .place-text-container {
 
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 15px;

        margin-bottom: 30px;
        .place-p {
            font-family: vars.$primary-font;
            color: vars.$blue-color4;
            font-size: 24px;
            font-weight: 600;

        }

        .place-text {
            font-family: vars.$primary-font;
            color: rgba(0, 0, 0, 0.8);
            font-size: 19px;
            font-weight: 500;
            max-width: 285px;
        }
    }

    .place-button-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .place-logo-container {
            display: flex;
            gap: 5px;

            .fcl-logo-texts-container {
                display: flex;
                gap: 5px;
                align-items: center;
    
                .fcl-text {
                    font-weight: 500;
                    font-size: 10px;
    
                }
    
                .fcl-bottom-text {
                    // color: #5999cf;
                    color: #04bce8;
                    margin-top: 1px;
                    font-size: 8px;
                }

                .place-logo {
                    object-fit: contain;
                    max-width: 40px;
                }
            }

            
        }

        .place-button {
            padding: 10px 15px;
            background-color: vars.$blue-color2;
            // background-color: black;
            color: white;
            font-family: vars.$primary-font;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            border: none;
            border-radius: 5px;
        }
    }
}