@use "../styles/variables" as vars;

.events-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;

    
    .events-content-container {
        max-width: 1150px;


        .event-wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            justify-content: center;

            .event-title{
             font-family: vars.$primary-font;
             font-size: 40px;
             color: vars.$blue-color4;
             font-weight: 600;
            }

        
            .event-little-title {
                font-family: vars.$primary-font;
                color: #817e7e;
                font-weight: 500;
                font-size: 16px;
                margin-left: 1px;
                margin-bottom: 0px;
              }

            .event-p {
                font-family: vars.$primary-font;
                font-size: 20px;
                color: rgba(0,0,0,0.9);
                font-weight: 500;
                margin-top: 15px;
            }

            .event-slide-container{
                max-width: 100%;
            }
        }
    }
}