@use "../styles/variables" as vars;

.events-container {
    .event-reverse {
        background-color: vars.$lightGrey-color;
    }

    .event-wrapper-container {
      width: 100%; 
    }

    .event-wrapper {
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto;
        padding: 60px 30px;

        .event-title {
            font-family: vars.$primary-font;
            font-size: 45px;
            color: vars.$blue-color4;
            font-weight: 600;

            @media(max-width:600px) {
                font-size: 32px;
            }

            @media(max-width:450px) {
                font-size: 26px;
            }
        }

        .event-little-title {
            font-family: vars.$primary-font;
            color: #817e7e;
            font-weight: 500;
            font-size: 18px;
            margin-left: 4px;
            line-height: 13px;
            margin-bottom: 0px;
        }

        .event-p {
            font-family: vars.$primary-font;
            font-size: 21px;
            color: rgba(0, 0, 0, 0.8);
            font-weight: 500;
            margin-top: 15px;
            word-spacing: 2px;
            line-height: 26px;

            @media(max-width:600px) {
                font-size: 19px;
            }
        }

        .event-slide-container {
            max-width: 1150px;
            margin-top: 20px;
            margin-bottom: 30px;

            @media(max-width:600px) {
                margin-bottom: 20px;
            }
        }
    }

}