$primary-font: "Lato", sans-serif;
$school-color:#1B3C28;
$grey-color: rgb(239, 240, 243);
$lightGrey-color: rgb(249, 249, 249);
$blue-color: #17497d;
$blue-color2:#235e83;
$blue-color3:#043d60;
$blue-color4:#040b4b;
$wrapper-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
