@use "../styles/variables" as vars;

@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes showDown {
  0% {
    height: 100%; /* Fully covering */
  }
  100% {
    height: 0; /* Fully revealed */
  }
}

@media only screen and (min-width: 1024px) {
  .smyrna-content-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    animation: none; /* Default: No animation */
  }
  
  .smyrna-content-container.show-animation::before {
    animation: showRight 2.5s ease-in-out forwards;
    // animation-delay: 0.2s;
  }
}



@media only screen and (max-width: 1023px) {
  
  // .smyrna-content-container.show-animation::before {
  //   animation: 3s ease forwards;
  //   // animation-delay: 0.2s;
  // }

  .smyrna-content-container::after {
    content: "";
    position: absolute;
    // top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    animation: none; /* Default: No animation */
  }

  .smyrna-content-container.show-animation::after {
    animation: showDown 2s ease-in-out forwards;
  }
}




.smyrna-container {
  padding: 110px 20px;
  // padding-bottom: 130px;
 width: 100%;
 height: 100%;

  .smyrna-content-container {
    max-width: 1250px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    .smyrna-title {
      font-size: 70px;
      font-family: vars.$primary-font;
      color: vars.$blue-color4;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
      @media only screen and (max-width: 550px) {
        line-height: 75px;
      }

    }

    .smyrna-p {
      font-family: vars.$primary-font;
      font-size: 22px;
      text-align: center;
      margin-bottom: 45px;
      color: rgba(0, 0, 0, 0.85);
    }

    .smyrna-little-screen {
      display: none;
    }
  }
}






/* Timeline Styling */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.col-one-fourth {
  flex: 0 0 19%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.col-one-fourth h5 {
  font-size: 23px;
  color: #222;
  margin-bottom: 20px;
}

.col-one-fourth p {
  font-size: 15px;
  color: #666;
  font-family: vars.$primary-font;
  font-weight: 500;
  max-width: 300px;
  line-height: 1.4;
}

.col-one-fourth:hover {
  transform: translateY(-10px);
}

.timeline {
  border-top: 2px solid #ccced0;
  padding-top: 1.5rem;
  position: relative;
}

.timeline:before,
.timeline:after {
  background: #ccced0;
  content: "";
  height: 2px;
  position: absolute;
  top: -1.5px;
  width: 20px;
}

.timeline:before {
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-radius-bottomleft: 50%;
  border-bottom-left-radius: 50%;
  -webkit-border-top-left-radius: 50%;
  -moz-border-radius-topleft: 50%;
  border-top-left-radius: 50%;
  left: -1rem;
}

.timeline:after {
  -webkit-border-bottom-right-radius: 50%;
  -moz-border-radius-bottomright: 50%;
  border-bottom-right-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -moz-border-radius-topright: 50%;
  border-top-right-radius: 50%;
  right: -1rem;
}

.timeline [class^="col-"] {
  position: relative;
}

.timeline [class^="col-"]:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: vars.$blue-color;
  border: 4px solid #fff;
  content: "";
  height: 15px;
  left: -3px;
  position: absolute;
  top: -37px;
  width: 1rem;
}




@media only screen and (max-width: 1023px) {
  .timeline {
    border-left: 2px solid #ccced0;
    border-top: none;
    padding-left: 22px;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  
  .smyrna-container {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .smyrna-big-screen {
    display: none;
  }

  .smyrna-container {
    .smyrna-content-container {
      .smyrna-little-screen {
        display: flex;
      }
    }
  }

  .timeline:before,
  .timeline:after {
    height: 1rem;
    left: -2px;
    width: 2px;
  }

  .timeline:before {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-top-left-radius: 50%;
    -moz-border-radius-topleft: 50%;
    border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -moz-border-radius-topright: 50%;
    border-top-right-radius: 50%;
    top: -1rem;
  }

  .timeline:after {
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 50%;
    -moz-border-radius-bottomleft: 50%;
    border-bottom-left-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -moz-border-radius-bottomright: 50%;
    border-bottom-right-radius: 50%;
    bottom: -1rem;
    top: auto;
  }

  .timeline [class^="col-"] {
    margin: 3rem 0 0 0;
    width: 100%;
  }

  .timeline [class^="col-"]:nth-child(2) {
    margin-top: 3rem;
  }

  .timeline [class^="col-"]:before {
    left: -33px;
    top: 7px;
  }
}

/* Responsive Design */
@media (max-width: 992px) {
  .col-one-fourth {
    flex: 0 0 48%;
  }
}

@media (max-width: 600px) {

  .col-one-fourth {
    flex: 0 0 100%;
  }
}