@use "../styles/variables" as vars;


.bottom-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 80px;
     padding-bottom: 40px;
    flex-direction: column;

    @media(max-width: 750px) { 
      padding: 50px ;
    }

    @media(max-width: 500px) { 
        padding: 50px 30px ;
      }

    .bottom-banner-content-container {
        max-width: 1150px;

        .bottom-banner-img {
            max-width: 100%;
            object-fit: contain;
            border-radius: 10px;

            
        }

        .project-titles-container {
          margin-top: 30px;
          margin-bottom: 20px;
        }

        .project-little-title {
            font-family: vars.$primary-font;
            color: #817e7e;
            font-weight: 500;
            font-size: 16px;
            margin-left: 4px;
            line-height: 10px;
            margin-bottom: 5px;
            justify-self: self-start;
            text-align: start;
          }
      

        .project-banner-title {
            color:vars.$blue-color4;
            font-family: vars.$primary-font;
            font-size: 38px;
            line-height: 42px;
            justify-self: self-start;
            text-align: start;
            font-weight: 700;
        }

        .project-banner-text {
            font-family: vars.$primary-font;
            font-size: 18px;
            color: rgba(0,0,0,0.82);
            font-weight: 500;
            word-spacing: 1.1px;
            line-height: 23px;
            margin-bottom: 20px;
        }
    }
}