@use "../styles/variables" as vars;


.add-event-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 20px;
    padding-bottom: 50px;
    background-color: vars.$grey-color;

    .add-event-form-title-container {
        background-color: white;
        box-shadow: vars.$card-box-shadow;
        border-radius: 5px;
        padding: 10px 0;
        width: 80%;
        max-width: 1150px;

        .event-save-button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            .event-save-button {
                padding: 10px;
                margin-top: 10px;
                background-color: vars.$blue-color2;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                font-family: vars.$primary-font;
                font-weight: 600;
                color: white;
                cursor: pointer;
                text-align: center;
                max-width: 200px;
                width: 100%;
            }
        }

        .add-event-title-container {
            width: 100%;
            border-bottom: 2px vars.$grey-color solid;
            padding: 15px;

            .add-event-title {
                font-family: vars.$primary-font;
                //   color: rgba(0,0,0,0.75);
                color: vars.$dark-grey;
                font-size: 25px;
                font-weight: 700;

            }
        }

        .add-event-inputs-form {
            padding: 30px;

            .input-title {
                font-family: vars.$primary-font;
                font-size: 18px;
                font-weight: 500;
                color: vars.$dark-grey;
            }

            .add-event-input-container {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin-bottom: 12px;

                .add-event-input {
                    border: 1px solid vars.$lightGrey-color3;
                    padding: 6px;
                    border-radius: 5px;
                    font-size: 16px;
                    font-family: vars.$primary-font;
                }

                .add-text-xmark-container {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            .add-text-button {
                padding: 7px;
                background-color: vars.$blue-color2;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                font-family: vars.$primary-font;
                font-weight: 600;
                color: white;
                cursor: pointer;
                max-width: 170px;
                text-align: center;
            }


            .add-img-button-container {
                border-radius: 5px;
                border: 1px solid vars.$grey-color;
                padding: 6px;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
                cursor: pointer;
                max-width: 170px;

                .add-ımg-ıcon {
                    object-fit: contain;
                    max-width: 40px;
                }
            }

            .image-preview-container {
                display: flex;
                gap: 40px;
                flex-wrap: wrap;
                margin-top: 10px;

                .add-event-image {
                    object-fit: contain;
                    max-width: 200px;
                    max-height: 130px;
                }

                .event-img-icon-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
             
                    height: 200px;

                    .event-delete-img-icon {
                        object-fit: contain;
                        max-height: 45px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}