@import "/src/styles/_variables.scss";

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $lightGrey-color;

    .contact-content-container {
        padding: 50px;
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .contact-title{
            margin-bottom: 30px;
            align-self: self-start;
            color: $blue-color4;
            font-family: $primary-font;
            font-weight: 600;
            font-size: 50px;
        }   

        .contact-cards-content-container {
            max-width: 1150px;
        }

        .contact-cards-container {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            gap: 50px;

            .contact-card-wrapper {
                box-shadow: $wrapper-box-shadow;
                border-radius: 10px;
                width: 250px;
                background-color: white;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                .card-texts-container {
                    margin-top: 10px;
                    text-align: center;

                    .card-p-title {
                        font-family: $primary-font;
                        font-weight: 600;
                        font-size: 20px;
                        margin-top: 5px;
                        color: $blue-color4;
                    }

                    .card-link {
                        text-decoration: none;
                    }

                    .card-p:hover {
                     color: $blue-color;
                     font-weight: 600;
                    }

                    .card-p {
                        font-family: $primary-font;
                        font-weight: 500;
                        font-size: 18px;
                        margin-top: 5px;
                        color: rgba(0,0,0,0.8);
                    }
                }

                .card-img-container {
                    display: flex;
                    justify-content: center;

                    .card-img {
                        object-fit: cover;
                        width: 90px;
                        height: 90px;

                    }
                }
            }

            .contact-card-wrapper:hover {
                transform: scale(1.1); 
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
            }
        }

        .contact-map-container {
            margin-top: 50px;
        }
        .contact-map {
            width: 100%;
            border-radius: 7px;
            border: none;
        }
    }
}