$primary-font: "Lato", sans-serif;
$school-color:#1B3C28;
$grey-color: rgb(239, 240, 243);
$lightGrey-color: rgb(249, 249, 249);
$lightPurple-color:#ECEDFB;
$lightBlue-color:#F0F8FF;
$lightBlue-color2:#F3F7FA;
$lightBlue-color3:#f4f8fc;
$lightBlue-color4:#f4faff;
$lightBlue-color5:#f4faff;
$lightBlue-color6:#f0f5fb;
$blue-color: #17497d;
$blue-color2:#235e83;
$blue-color3:#043d60;
$blue-color4:#040b4b;
$blue-color5:#5f72a1;
$wrapper-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$card-box-shadow:0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
$threed-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15), 0 16px 24px rgba(0, 0, 0, 0.2), 0 24px 32px rgba(0, 0, 0, 0.15);

