@use "../styles/variables" as vars;



.open-sidebar {
    transform: translateX(0);
    transition: all 1.5s ease-in-out;
    position: relative;
    z-index: 100;
}

.close-sidebar {
    transform: translateX(-130%);
    transition: all 1.5s ease-in-out;
    position: relative;
    z-index: 100;
}

.sidebar-closer {
    cursor: pointer;
}

.navbar-container {
    display: flex;
    padding: 20px 50px 20px 4.5%;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    /* navbar background color */
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.25);


    .link-p {
        text-decoration: none;
    }

    .logo-texts-container {
        display: flex;
        gap: 6px;
        align-items: center;

        .ministery-logo {
            object-fit: contain;
            width: 65px;

        }

        .ministery-text {
            color: #DF232A;
            font-size: 19px;
            font-weight: 500;
        }

    }

    .navbar-logo-p-container {
        display: flex;
        min-width: 140px;
        align-items: center;
        gap: 30px;

        .school-logo-p {
            font-family: vars.$primary-font;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            color: vars.$school-color;

        }
    }

    .ministery-logo {
        object-fit: contain;
        width: 65px;
    }


    .navbar-links-container {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 35px;

        .navbar-link {
            cursor: pointer;
            font-family: vars.$primary-font;
            font-weight: 600;
            font-size: 21px;
            color: vars.$school-color;
            text-decoration: none;
            position: relative;
            transition: .3s;
            width: fit-content;


            &:after {
                position: absolute;
                transition: .3s;
                content: '';
                width: 0;
                right: 0;
                top: 28px;
                height: 2.5px;
                background: black;
                border-radius: 10px;
            }

            &:hover {
                cursor: pointer;

                &:after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }

    .school-logo-responsive {
        display: none;
    }

    .fcl-logo-responsive {
        display: none;
    }

    .fcl-texts-container-responsive {
        display: none;
    }

    .fcl-text {
        font-weight: 500;
        font-size: 17px;

    }

    .hamburger-container {
        display: none;
    }

    .fcl-bottom-text {
        // color: #5999cf;
        color: #04bce8;
        margin-top: 1px;
        font-size: 17px;
    }

    .navbar-center-title {
        display: none;
    }


    .navbar-right-logo-container {
        display: flex;
        gap: 20px;

        .school-logo {
            object-fit: contain;
            height: 70px;
        }


        .fcl-logo-texts-container {
            display: flex;
            gap: 10px;
            align-items: center;



            .fcl-logo {
                object-fit: contain;
                width: 65px;
            }
        }

    }
}

@media(max-width:1300px) {

    .navbar-container {
        padding: 10px 20px 10px 20px;

        .navbar-links-container {
            display: none;
        }

        .navbar-right-logo-container {
            display: none;
        }

        .logo-texts-container {
            .ministery-logo {
                max-width: 40px;
            }

            .ministery-text {
                display: none;
            }
        }

        .school-logo-responsive {
            display: block;
            object-fit: contain;
            max-width: 40px;
        }

        .fcl-logo-responsive {
            display: block;
            object-fit: contain;
            max-width: 40px;
        }

        .fcl-logo-text-container-responsive {
            display: flex;
            gap: 4px;
            align-items: center;
        }

        .fcl-texts-container-responsive {
            display: block;
            margin-right: 5px;
        }

        .fcl-text {
            font-size: 9px;
        }

        .fcl-bottom-text {
            color: #04bce8;
            font-size: 7px;
        }


        .hamburger-container {
            display: grid;
        }

        .navbar-center-title {
            display: block;
            font-family: vars.$primary-font;
            font-size: 20px;
            color: vars.$blue-color4;
            font-weight: 600;
        }
    }

}

@media (max-width: 570px) {

    .navbar-container {
        
        .fcl-logo-text-container-responsive {
            display: none;
        }

        .school-logo-responsive { 
            display: none;
        }

        .logo-texts-container {
            gap: 5px;
            .ministery-text {
                display: grid;
                font-size: 12px;
            }
        }

    }
}