@use "../styles/variables" as vars;



.open-sidebar {
    transform: translateX(0);
    transition: all 1.5s ease-in-out;
    position: relative;
    z-index: 1000000000;
}

.close-sidebar {
    transform: translateX(-130%);
    transition: all 1.5s ease-in-out;
    position: relative;
    z-index: 10000000000;
}

.sidebar-closer {
    cursor: pointer;
}

.navbar-container {
    display: flex;
    padding: 20px 50px 20px 4.5%;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 100000;

    .link-p {
        text-decoration: none;
    }

    .logo-texts-container {
        display: flex;
        gap: 6px;
        align-items: center;

        .ministery-logo {
            object-fit: contain;
            width: 65px;
        }

        .ministery-text {
            color: #DF232A;
            font-size: 19px;
            font-weight: 500;
        }
    }

    .navbar-logo-p-container {
        display: flex;
        min-width: 140px;
        align-items: center;
        gap: 30px;

        .school-logo-p {
            font-family: vars.$primary-font;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            color: vars.$school-color;

        }
    }

    .ministery-logo {
        object-fit: contain;
        width: 65px;
    }


    .navbar-links-container {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 35px;

       

        .learning-link-container  {
            height: 65px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;

        }

        .link-dropdown-container {
            position: relative;
          
        }
        
        .learning-dropdown-container {
            position: absolute;
            z-index: 200;
            left: -40px;
            top: 65px;
            border-radius: 10px;
            box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.2);
            display: none;    
            background-color: vars.$lightGrey-color;
          
            .learning-dropdown-content-container {
             max-height: 300px;
              overflow-y: scroll;
             overflow-x: hidden;
             padding: 0px 20px;
            }

            .learning-dropdown-content-container::-webkit-scrollbar-thumb {
                background-color: rgb(194, 194, 194);
                border: 4px solid transparent;
                border-radius: 13px;
                background-clip: padding-box;
            }
            
            .learning-dropdown-content-container::-webkit-scrollbar {
                width: 11.5px;
            }
            

            .learning-link{
                text-decoration: none;
            }

            .learning-dropdown-wrapper {
                display: flex;
                justify-content: space-between;
                border-bottom: 0.5px solid rgb(194, 194, 194);
                align-items: center;
                padding: 20px 0;
    
                .navbar-learning-svg {
                    max-width: 40px;
                    object-fit: contain;
                }

                .navbar-learning-title {
                    font-family: vars.$primary-font;
                    font-size: 20px;
                    // color: white;
                    color: vars.$blue-color4;
                    font-weight: 600;
                    min-width: 180px;
                    text-decoration: none;
                }
            }
        }

        .link-dropdown-container:hover+.learning-dropdown-container {
            display: block;
        }

        .learning-link-container:hover+.learning-dropdown-container {
            display: block;
        }

        .learning-dropdown-container:hover {
            display: block;
        }

        .d-none {
            display: none;
        }

        .learning-dropdown-container::before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            top: -12px;
            left: 50%;
            margin-left: -15px;
            border-style: solid;
            border-width: 0 15px 15px 15px;
            border-color: transparent transparent vars.$lightGrey-color transparent;
            // border-color: transparent transparent black transparent;

        }

       
        .navbar-link {
            cursor: pointer;
            font-family: vars.$primary-font;
            font-weight: 600;
            font-size: 21px;
            color: vars.$school-color;
            letter-spacing: 0.3px;
            text-decoration: none;
            position: relative;
            transition: .3s;
            width: fit-content;


            &:after {
                position: absolute;
                transition: .3s;
                content: '';
                width: 0;
                right: 0;
                top: 28px;
                height: 2.5px;
                background: black;
                border-radius: 10px;
            }

            &:hover {
                cursor: pointer;

                &:after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }

    .school-logo-responsive {
        display: none;
    }

    .fcl-logo-responsive {
        display: none;
    }

    .fcl-texts-container-responsive {
        display: none;
    }

    .fcl-text {
        font-weight: 500;
        font-size: 17px;

    }

    .hamburger-container {
        display: none;
        cursor: pointer;
    }

    .fcl-bottom-text {
        // color: #5999cf;
        color: #04bce8;
        margin-top: 1px;
        font-size: 17px;
    }

    .navbar-center-title {
        display: none;
    }


    .navbar-right-logo-container {
        display: flex;
        gap: 20px;

        .school-logo {
            object-fit: contain;
            height: 70px;
        }


        .fcl-logo-texts-container {
            display: flex;
            gap: 10px;
            align-items: center;



            .fcl-logo {
                object-fit: contain;
                width: 65px;
            }
        }

        .fcl-admin-logo-container {
            position: relative;
            cursor: pointer;

            .fcl-admin-logo{
                object-fit: cover;
                width: 72px;
                height: 71px;
                border-radius: 50%;
            }

            .admin-dropdown-container {
                position: absolute;
                display: none;
                box-shadow: vars.$card-box-shadow;
                border-radius: 10px;
                bottom: -60px;
                right: -10px;
                padding: 10px;
                box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.2);
                background-color: vars.$lightGrey-color;
              
            }

            .admin-dropdown-container::before {
                content: ' ';
                position: absolute;
                width: 0;
                height: 0;
                top: -12px;
                left: 50%;
                margin-left: -15px;
                border-style: solid;
                border-width: 0 15px 15px 15px;
                border-color: transparent transparent vars.$lightGrey-color transparent;
    
            }
    

            &:hover .admin-dropdown-container {
                display: flex;
                gap: 10px;
            }
        }
    }
}

@media(max-width:1300px) {

    .navbar-container {
        padding: 10px 20px 10px 20px;

        .navbar-links-container {
            display: none;
        }

        .navbar-right-logo-container {
            display: none;
        }

        .logo-texts-container {
            .ministery-logo {
                max-width: 50px;
            }

            .ministery-text {
                display: none;
            }
        }

        .school-logo-responsive {
            display: block;
            object-fit: contain;
            max-width: 50px;
        }

        .fcl-logo-responsive {
            display: block;
            object-fit: contain;
            max-width: 50px;
        }

        .fcl-logo-text-container-responsive {
            display: flex;
            gap: 4px;
            align-items: center;
        }

        .fcl-texts-container-responsive {
            display: block;
            margin-right: 5px;
        }

        .fcl-text {
            font-size: 9px;
        }

        .fcl-bottom-text {
            color: #04bce8;
            font-size: 7px;
        }


        .hamburger-container {
            display: grid;
            cursor: pointer;
        }

        .navbar-center-title {
            display: block;
            font-family: vars.$primary-font;
            font-size: 20px;
            color: vars.$blue-color4;
            font-weight: 600;
        }
    }

}

@media (max-width: 570px) {

    .navbar-container {

        .fcl-logo-text-container-responsive {
            display: none;
        }

        .school-logo-responsive {
            display: none;
        }

        .logo-texts-container {
            gap: 5px;

            .ministery-text {
                display: grid;
                font-size: 12px;
            }
        }

    }
}