@use "../styles/variables" as vars;



.learning-places-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  .learning-places-content-container {

    .learning-places-slide-container {
      display: none;
    }

    .learning-places-slide-container-open {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }
  
    .learning-places-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100vw;

      padding: 80px 30px;
      gap: 40px;


    }

    .learning-places-wrapper-reverse {
        // flex-direction: row-reverse;
        background-color: vars.$lightGrey-color;
    }

    .learning-places-collage-reverse {
      flex-direction:row-reverse;
    }

    .learning-places-collage-container {
      display: flex;
      gap: 15px;
      height: 100%;

      .learning-collage-two-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .learning-img-little {
          object-fit: contain;
          // max-height: 190px;
          max-height: 282px;
          border-radius: 3px;
          cursor: pointer;
        }

        .learning-img-little-reverse {
          max-height: 281.8px;
        }
      }

      .learning-img-big {
        object-fit: cover;
        height: 100%;
        max-width: 760px;
        // max-width: 450px;
        border-radius: 3px;
        cursor: pointer;
      }

    }

    .learning-places-text-container {

      .learning-places-little-title {
        font-family: vars.$primary-font;
        color: #817e7e;
        font-weight: 500;
        font-size: 15px;
        margin-left: 3px;
        margin-bottom: 0px;
      }
  
      .learning-places-title {
        font-family: vars.$primary-font;
        color: vars.$blue-color4;
        font-weight: 600;
        font-size: 49px;
        line-height: 55px;
        max-width: 500px;
        word-spacing: 1px;
      }
      
      .learning-places-p {
        font-family: vars.$primary-font;
        // font-size: 18px;
        //         line-height: 23px;

        font-size: 21px;
        line-height: 26px;

        
        margin-top: 15px;
        word-spacing: 2px;
        color: rgba(0, 0, 0,0.8);
        font-weight: 500;
         max-width: 1150px; 
        // max-width: 570px;  
      }
    }

  
  }
}