@use "../styles/variables" as vars;


.footer-container {
    .footer-logo-content-container {
        display: flex;
        justify-content: center;
        background-color: vars.$grey-color;

        .footer-logos-container {
            display: flex;
            justify-content: center;
            gap: 20px 120px;
            max-width: 1150px;
            padding: 40px 0px;

            @media(max-width:1100px) {
                flex-wrap: wrap;
                gap: 50px;
            }


            .logo-texts-container {
                display: flex;
                gap: 10px;
                align-items: center;

                @media(max-width:1100px) {
                    width: 300px;
                }

                .fcl-text {
                    font-weight: 500;
                    font-size: 19px;
                    max-width: 200px;
                }

                .school-text {
                    font-family: vars.$primary-font;
                    font-size: 20px;
                    line-height: 25px;
                    font-weight: 500;
                    max-width: 200px;
                }

                .ministery-text {
                    color: #DF232A;
                    font-size: 20px;
                    font-weight: 500;
                }

                .fcl-bottom-text {
                    color: #04bce8;
                    margin-top: 1px;
                    font-size: 20px;
                    max-width: 200px;
                }

                .logo {
                    object-fit: contain;
                    width: 150px;
                }
            }
        }
    }

    .footer-bottom-content-container {
        background-color: black;
        // background-color: #01102f;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;

        
        .footer-arrow-img {
            object-fit: contain;
            max-width: 15px;
            transition: 1s all ease;
        }

        .footer-arrow-img-learning {
            object-fit: contain;
            max-width: 15px;   
            transform: rotate(270deg);
        }

        .footer-link-svg-container {
            display: flex;
            gap: 20px;
            align-items: center;
            cursor: pointer;
          
        }

        .open-link-svg-container {
            border-bottom: none;
            padding-bottom: 0px;
        }

        .footer-learning-link-svg-container{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            cursor: pointer;
            margin-top: 10px;
        }

        .footer-learning-link-svg-container:hover{
            .footer-p {
                color: #315ff6;
            }
        }

        .footer-learning-places-container {
            padding: 5px 0;
             padding-left: 10px;
        }

        .close-accordion {
            overflow: hidden;
            max-height: 20px;
            transition: max-height 0.7s ease;
        }

        .open-accordion {
            transition: all 0.7s ease-in-out;
            overflow: hidden;
            max-height: 369px;
        }

        .footer-accordion-text {
            display: block;
            position: relative;
        }

        .arrow-img-up {
            transform: rotate(180deg);
            transition: 0.6s all ease;
            // max-width: 20px;
        }

        .footer-accordion-text::before {
            content: "";
            width: 5px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.3s;
            opacity: 0;
        }

        .footer-link-icon-container {
            width: 190px;
            justify-content: space-between;
            display: flex;
        }

        .footer-content-container {
            max-width: 1150px;

            display: flex;
            justify-content: center;
            gap: 45px 80px;

            @media(max-width:1100px) {
                flex-wrap: wrap;
            }


            .footer-title {
                color: white;
                font-family: vars.$primary-font;

                font-weight: 600;
                font-size: 22px;
                margin-bottom: 15px;
            }

            .footer-wrapper {
                display: flex;
                gap: 15px;
                align-items: center;
                margin-top: 10px;
            }


            .footer-link {
                text-decoration: none;
            }

            .footer-p {
                font-family: vars.$primary-font;
                color: white;
                max-width: 250px;
                font-size: 17px;
                font-weight: 500;
                position: relative;
                z-index: 10;
            }

            .footer-p:hover {
                color: #315ff6;
            }

            .footer-menu-container {
                display: flex;
                flex-direction: column;
                gap: 10px;


                @media(max-width:1100px) {
                    width: 300px;
                }

            }


        }
    }
}