@import "../styles/variables.scss";

.project-goals-container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $lightBlue-color2;

  
@media(max-width: 550px) {
 padding: 30px;
}

  .project-goals-content-container {
    display: flex;
    max-width: 1150px;
    gap: 25px 90px;
    position: relative;
    align-items: end;

    .goals-img-container {
      display: flex;
      justify-content: center;
    }
    .goals-img {
      object-fit: contain;
      max-width: 650px;
    }


    .project-little-title {
      font-family: $primary-font;
      color: #817e7e;
      font-weight: 500;
      font-size: 15px;
      margin-left: 8px;
      margin-bottom: 0px;
    }

    .project-title {
      font-family: $primary-font;
      color: $blue-color4;
      font-weight: 600;
      font-size: 49px;
      line-height: 55px;
      max-width: 500px;
      margin-left: 5px;
      word-spacing: 1px;
    }

    .circle-container {
      position: absolute;
    
      display: flex;
      justify-content: center;
      align-items: center;

      .circle-img {
        object-fit: contain;
        width: 50px;
      }
    }

    .project-icon {
      // width: 50px;
      // height: 50px;
      // border-radius: 50%;
      // background: linear-gradient(220deg, #4ca9d4, #0D8E90);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      position: relative;
      z-index: 100;
      color: #fff;
    }

    .circle-id-container {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50px;
    }

    .project-goals-arrow-container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-bottom: 30px;

      .project-goals-arrow {
        position: relative;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        padding: 15px 25px;
        padding-right: 0px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 600px;

      }

      .goal-content {
        margin-left: 15px;

        @media(max-width: 550px) { 
          margin-left: 22px;
        }
      }

      .project-p {
        max-width: 300px;
        font-family: $primary-font;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.85);
      }

      .project-goal-title {
        font-family: $primary-font;
        font-size: 19px;
        font-weight: 600;
        color: rgba(4, 11, 75,0.8);
        margin-bottom: 5px;
     
      }
    }
  }


}

@media(max-width: 1190px) {
  .project-goals-container {
    .project-goals-content-container {
      flex-wrap: wrap;
      justify-content: center;
      .goals-img {
        max-width: 80%;
        width: 100%;
      }
       .project-goals-arrow-container{
        .project-p {
          max-width: 100%;
        }
        .project-goals-arrow {
          max-width: 100%;
        }
       } 
    }
  }

}