@use "../styles/variables" as vars;

.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .login-img  {
        object-fit: cover;
        width: 100vw;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        overflow-y: hidden;
        z-index: 0;
    }

    .login-form-container {
        padding: 50px;
        position: relative;
        z-index: 10;
        background-color: rgba(248, 248, 248,1);
        border-radius: 10px;

        .login-title {
            font-size: 50px;
            font-family: vars.$primary-font;
            color: vars.$blue-color4;
            font-weight: 600;
            margin-bottom: 20px;
        } 

        .login-input {
            border:none;
            border-radius: 4px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);
            padding: 10px;
            width: 300px;
            margin-bottom: 10px;
        }

        .login-input-p {
            font-family: vars.$primary-font;
            font-size: 18px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.65);
            margin-bottom: 3px;
        }

        .login-button {
            width: 100%;
            border: none;
            margin-top: 10px;
            padding: 15px 0;
            border-radius: 5px;
            background-color: vars.$blue-color3;
            color: white;
            font-family: vars.$primary-font;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }
    }
}